*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.numbers{
    background: #a82d49;
    padding: 25px 0px;
    max-width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
}
.numbers .row{
    margin: 10px 0px;
}
.numbers h2{
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0px;
    color: #fff;
    font-family: "Tajawal", sans-serif;
}
.numbers h6{
    text-transform: uppercase;
    color: #fff;
    font-family: "Tajawal", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

/* css to pride section and ingredients and poor */
.pride , .ingredients{
    background: transparent;
    padding: 25px 0px;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 60px;
}
.pride img , 
.ingredients img{
    max-width: 100%;
    border-radius: 10px;
}
.pride h2 ,
.ingredients h2 ,
.poor h2{
    font-size: 32px;
    line-height: 45px;
    font-weight: 700;
    width: 80%;
    margin: 10px 0px;
    color: #43121d;
    font-family: "Tajawal", sans-serif;   
}
.pride p ,
.ingredients p ,
.poor p{
    font-size: 16px;
    color: #555;
    line-height: 28px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    margin-top: 15px;
}
.pride button ,
.ingredients button{
    background: #a82d49;
    border: 3px solid #a82d49;
    box-sizing: border-box;
    width: 140px;
    height: 40px;
    text-align: center;
    margin-top: 20px;
    transition: 0.5s ease;
}
.pride button a ,
.ingredients button a{
    display: block;
    color: #fff;
    font-family: "Tajawal", sans-serif;
    text-decoration: none !important;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
}
.pride button:hover a ,
.ingredients button:hover a{
    color: #a82d49;
}
.pride button:hover ,
.ingredients button:hover{
    background: #fff;
}

/* css to ingredients section */
.ingredients ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.ingredients ul li{
    font-family: "Tajawal", sans-serif;     
    padding: 6px 0 9px 35px;
    position: relative;
    color: #555;
    margin-top: 10px;
}
.ingredients ul li span{
    min-width: 30px;
    color: #a82d49;
    position: absolute;
    left: 0;
    top: -1px;
    font-size: 25px;
}

/* css to poor section */
.poor{
    background: url(../../../public/images/10.jpg) no-repeat;
    background-size: cover;
    background-position: left right;
    width: 100%;
    height: auto;
    padding: 30px 0px;
    text-align: center;
}
.poor .row{
    margin: 50px 0px;
}
.poor h2{
    width: 100%;
    color: #a82d49;
    /* padding-top: -10px; */
    margin: 10px 0px;
}
.poor p{
    color: #555;
    margin: 20px 0px;
    line-height: 32px;
}
.poor a{
    color: #43121d;
    font-size: 20px;
    /* margin: 20px 0px; */
    font-family: "Tajawal", sans-serif;
    text-decoration: none !important;
}
.poor a:hover{
    color: #a82d49;
    outline: 0;
    text-decoration: none;
    transition: 0.4s;
}
/* css to blogs section */
.blogs{
    margin-top: 50px;
    padding: 25px 0px;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.blogs .row:first-child{
    text-align: center;
    margin: 25px 0px;
}
.blogs h1{
    font-size: 45px;
    width: 100%;
    margin: 10px 0px;
    color: #43121d;
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1px;
    line-height: 50px;
}
.blogs p{
    font-size: 16px;
    line-height: 28px;
    color: #555;
    font-family: 'Tajawal', sans-serif;
    margin-top: 15px;
}
.blogs .box{
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border: 1px solid #f6f6f6;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 5px;
}
.blogs img{
    max-width: 100%;
    border-radius: 15px;
}
.blogs h5{
    color: #43121d;
    font-family: 'Tajawal', sans-serif;
    font-size: 22px;
    margin: 15px 0px;
}
.blogs .box span{
    display: block;
    color: #555;
    font-family: 'Tajawal', sans-serif;
    font-size: 16px;
    margin: 10px 0;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.blogs .box h6{
    color: #a82d49;
    font-size: 22px;
    font-family: 'Tajawal', sans-serif;
}
.blogs button{
    width: 140px;
    height: 40px;
    text-align: center;
    background: #a82d49;
    border: 1px solid #a82d49;
    box-sizing: border-box;
    margin: 10px 0px;
    transition: 0.3s ease-in-out;
}
.blogs button a{
    color: #fff;
    font-family: "Tajawal", sans-serif;
    text-decoration: none !important;
    font-weight: bold;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.blogs button:hover a{
    color: #a82d49;
}
.blogs button:hover{
    background: transparent;
}

/* css to slider section */
.slider{
    background: #a82d49;
    border: 1px solid #a82d49;
    width: 100%;
    height: auto;
    max-width: 100%;
    text-align: center;
    padding: 50px 0;
    margin: 50px 0px;
}
.slider h2{
    color: #fff;
    margin-bottom: 30px 0px;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    letter-spacing: 1px;
}
.slider .carousel{
    background: #fff;
    margin: 40px 0px;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 25px 0px;
}
.slider img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 150px;
}
.slider .carousel-caption p{
    font-size: 17px;
    line-height: 30px;
    color: #111;
}
.slider .carousel-caption span{
    font-weight: bold;
    font-size: 17px;
    text-transform: capitalize;
    color: #a82d49;
    display: block;
    margin: 15px 0px;
}
.slider .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.slider .carousel-indicators button{
    width: 30px;
    height: 10px;
    background: #a82d49;
    border: 1px solid #a82d49;
    margin: 5px 5px 15px 5px;
}

/* css to cards section */
.cards{
    width: 100%;
    height: auto;
    max-width: 100%;
    text-align: center;
    padding: 50px 0;
    margin: 50px 0px;   
    border: none;
}
.cards h2{
    color: #43121d;
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    margin-bottom: 60px;
}
.cards .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: none;
}
.cards .card .card-title{
    color: #43121d;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}
.cards .card .card-title span{
    color: #f98169;
    font-size: 28px;
    font-weight: 300;
    vertical-align: middle;
}

/* css to bakers section */
.bakers{
    background: url(../../../public/images/b.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: auto;
    padding: 30px 0px;
    text-align: center;
}
.bakers .row{
    margin-right: -15px;
    margin-left: -15px;
}
.bakers h2{
    width: 100%;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 1px; 
    margin: 50px -80px;
    padding: 0px 50px;
    margin-bottom: -45px;
}
.bakers a{
    font-size: 20px;
    margin: 15px -25px;
    font-family: "Tajawal", sans-serif;
    text-decoration: none !important;
    background: #a82d49;
    border: 3px solid #a82d49;
    color: #fff;
    text-transform: capitalize;
    line-height: 20px;
    font-weight: bold;
    padding: 11px 28px;
    border: none;
    float: right;
}
.bakers a {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 11px 28px;
    border: none;
    border-radius: 0px;
    font-family: Roboto;
    box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
}
.bakers a:hover{
    color: #a82d49;
    outline: 0;
    text-decoration: none;
    transition: 0.4s;
}